.main-background {
  margin-top: 30px;
  padding-top: 60px;
  height: 320px;
}
nav .brand-logo {
  padding-left: 20px;
}
nav .button-collapse i{
  padding-left: 10px;
}
.lesson-nav {
  z-index: 99;
  position: absolute;
  width: 300px;
  max-height: 100%;
  overflow-y: auto;
  padding-bottom: 20px; 
  margin-top: 0;
}
.video-section {
  padding-left: 300px;
  display: block;
}
.container-video {
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px){
  .lesson-nav {
    left: -300px;
  }
  .video-section {
    padding-left: 0;
  }
}