<div class="container center height400">

  <h4 class="center grey-text page-title green lighten-5">코딩고란?</h4> 
  
  <div class="row grey-text" >

    <p class="left-align col m10 offset-m1">CODINGO는 컴퓨터 프로그래밍(코딩)을 영상으로 배우는 온라인 교육 서비스입니다. 쉽게 컴퓨터 코딩을 배우면서 적은 비용로 어느 누구나 스타트업을 직접 실현할 수 있습니다. 프로그래밍 언어만 배우는 것보다 직접 실행할 수 있는 어플리케이션을 만들면서 배움으로 재밌고 유익하게 코딩을 배울수 있습니다.</p> 
    <div class="{{item.classInfo}}" ng-repeat="item in aboutInfo">
      <div class="about-info">
        <i class="material-icons small icon-info">{{item.icon}}</i>
        <div class="subtitle-info">{{item.subTitle}}</div>
        <ul class="left-align margin-none space-sm" ng-repeat="detail in item.info">
          <li class="space-sm detail-info">{{detail}}</li>
        </ul>
      </div>
    </div>  
  </div>
  
  <p class="grey-text punchline">코딩고는 어느 누구나 아이디어를 스타트업으로 실현하는 것을 목표로 하고 있습니다.</p> 
</div>

<script>
    $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });
        
</script>