<div id="subscription-page">
  <div class="container center height400">
    <h4 class="grey-text page-title"><span class="blue-text">PRO</span> 맴버십 가입 - 로그인 </h4>
    
    <div class="width400 center signup-area" ng-if="!user.email">    
      <a ui-sref="subscribe" class="center">새로운 회원은 여기를 클릭하세요</a>
    <div class="row" >
      <form class="col s12" id="loginForm">
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" ng-pattern="EMAIL" class="validate" ng-model="email">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate" ng-model="password">
            <label for="password">Password</label>
          </div>
        </div> 
        <button ng-click="login()" class="btn btn-large btn-primary center">로그인</button>   
      </form>
    </div>
    </div> 
    
    <div ng-include="'./ng-app/partials/card.html'"></div>

  </div>
</div>