<div id="subscription-page">
  <div class="container center height400">
    <h4 class="grey-text page-title"><span class="blue-text">PRO</span> 맴버십 가입</h4>
    
    <div class="width400 center signup-area" ng-if="!user.email">    
      <a ui-sref="subscribe-login" class="center">로그인은 여기를 클릭하세요</a>
      <div class="row">
        <form class="col s12">  
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="" id="first_name" type="text" class="validate" ng-model="username" required>
                <label for="first_name">Username</label>
              </div>
            </div>        
            <div class="row">
              <div class="input-field col s12">
                <input type="email" ng-pattern="EMAIL" id="email" ng-model="email" class="validate" required>
                <label for="email">Email</label>
              </div>
            </div>
          
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate" ng-model="password" required>
              <label for="password">Password</label>
            </div>
          </div>
          
            <button type="button" class="btn btn-primary btn-large" ng-click="register()">가입하기</button>
        
            <div style="margin-top:10px"><label>{{error}}</label></div>
            <p class="center grey-text">* 모든 회원은 언제든 해제할 수 있습니다. </p>
        </form>
      </div>
    </div> 
    
    <div ng-include="'./ng-app/partials/_card.html'"></div>

  </div>
</div>