<div class="center signup-area"> 
  <div class="price-checkbox">
    <div class="row ">
      <p class="col s12">
        <input name="group1" type="checkbox" id="subscription1"/>
        <label for="subscription1" class="price-month">월<span class="green-text">29,000</span>원</label>
      </p>
        <p class="grey-text note-info">위 가격을 체크해주시기 바랍니다. (맴버십은 언제든지 해제가 가능합니)</p>
    </div>  
  </div>

  <!-- Card Info -->
  <div class="row">
    <form class="col s12 center" id="payment-form">

      <div class="row">
        <div class="input-field col s12">
          <input id="cardnum" type="text" class="validate" data-stripe="number">
          <label for="cardnum">카드번호</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="name" type="text" class="validate">
          <label for="name">이름</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="exp_month" type="text" class="validate">
          <label for="exp_month">Exp(MM)</label>
        </div>
        <div class="input-field col s6">
          <input id="exp_year" type="text" class="validate">
          <label for="exp_year">Exp(YYYY)</label>
        </div>
      </div>  
      <button class="btn btn-primary btn-large">결제하기</button>
            <p class="center blue-text stripe-info">* 본 결제는 Stripe를 통하여 안전하게 결제됩니다.</p>    
    </form>
  </div>
</div>