  <nav class="green lighten-3 white-text">
    <div class="nav-wrapper">
      <a ui-sref="home" class="brand-logo">CODINGO</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul class="right ">
        <li class="hide-on-med-and-down"><a ui-sref="about">About</a></li>  
        <li class="hide-on-med-and-down"><a ui-sref="pricing">Pricing</a></li>
        <li ng-if="!logged" class="hide-on-med-and-down"><a ui-sref="registration">Sign Up</a></li>
        <li ng-if="!logged"><a ui-sref="login" class="login-btn">Log In</a></li>
        <li ng-if="logged"><a ui-sref="subscribe" class="btn deep-orange accent-1 hide-on-med-and-down">PRO 회원가입</a></li>

        <!-- Dropdown Trigger --> 
        <li ng-hide="!logged"><a class='dropdown-button profile-img-frame' data-activates='dropdown1' ><img src="{{picture}}" alt="" class="profile-img"></a></li>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
          <li><a ui-sref="profile">내정보</a></li>
          <li><a href="#!">프로젝트</a></li>
          <li class="divider"></li>
          <li><a ng-click="logout()">로그아웃</a></li>
        </ul>        
      </ul>

      <!-- Mobile menu -->
      <ul class="side-nav" id="mobile-demo">
        <li class="" ng-if="!logged"><a ui-sref="registration">Sign Up</a></li>
        <li class="" ng-if="!logged"><a ui-sref="login">Log In</a></li>
        <li class=""><a ui-sref="about">About</a></li>  
        <li class=""><a ui-sref="pricing">Pricing</a></li>
        <li class="" ng-if="logged" ng-click="logout()"><a>Log Out</a></li>
      </ul>
    </div>
  </nav>

<script>
    // Initialize collapse button
  $(".button-collapse").sideNav({
    closeOnClick: true,
    menuWidth: 280
  });
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  //$('.collapsible').collapsible();

  $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: false, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'left' // Displays dropdown with edge aligned to the left of button
    }
  );  
</script>