<!--   <nav class="green lighten-3 white-text">
    <div class="nav-wrapper">
      <a ui-sref="home" class="brand-logo">CODINGO</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li class=""><a ui-sref="pricing">Pricing</a></li>
        <li class="" ng-if="!currentUser.id"><a ui-sref="signup">회원가입</a></li>
        <li class="" ng-if="!currentUser.id"><a ui-sref="login">로그인</a></li>
        <li class="" ng-if="currentUser.id"><a href ng-click="logout()">Logout</a></li>
        <li class=""><a ui-sref="/"></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li class="" ng-if="!currentUser.id"><a ui-sref="signup">회원가입</a></li>
        <li class="" ng-if="!currentUser.id"><a ui-sref="login">로그인</a></li>
        <li class="" ng-if="currentUser.id"><a>Logout</a></li>
        <li class=""><a ui-sref="pricing">Pricing</a></li>
        <li></li>
      </ul>
    </div>
  </nav>

<script>
    // Initialize collapse button
  $(".button-collapse").sideNav();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  //$('.collapsible').collapsible();
</script> -->